.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 5px 10px;
    color: blanchedalmond;
    background-color: var(--main-bg-color);
    border-radius: 7px;
    cursor:pointer;
    font-family: 'Roboto', sans-serif;
}
.my2{
   margin: 26px 0;
}
.my1{
    margin:5px  0;
}

.text-center{
    text-align: center;
}